@charset "utf-8";
.header_ul {
    display: flex;
}

.header_li {
    display: flex;
    width: 200px;
    height: 1.5rem;
    background-color: aqua;
    margin: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
}


table,td,th{
    border: 1px solid grey;
    padding: 0.2rem;
}

th{
    font-weight: bold;
}